---
---
<!-- _layouts/bib.html -->
<div id="{{entry.key}}" class="pub-entry">

  <div class="pub-title">{{entry.title}}</div>

  <div class="pub-authors">
    {%- for author in entry.author_array -%}
      {%- assign author_is_self = false -%}
      {%- assign author_last_name = author.last | remove: "¶" | remove: "&" | remove: "*" | remove: "†" | remove: "^" -%}
      {%- if site.scholar.last_name contains author_last_name -%}
        {%- if site.scholar.first_name contains author.first -%}
          {%- assign author_is_self = true -%}
        {%- endif -%}
      {%- endif -%}
      {%- assign coauthor_url = nil -%}
      {%- if site.data.coauthors[author_last_name] -%}
        {%- for coauthor in site.data.coauthors[author_last_name] -%}
          {%- if coauthor.firstname contains author.first -%}
            {%- assign coauthor_url = coauthor.url -%}
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
      {%- unless forloop.first -%},&nbsp;{%- endunless -%}
      {%- if author_is_self -%}
        <strong>{{author.first}} {{author.last}}</strong>
      {%- elsif coauthor_url -%}
        <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>
      {%- else -%}
        {{author.first}} {{author.last}}
      {%- endif -%}
    {%- endfor -%}
  </div>

  <div class="pub-venue">
    {%- assign proceedings = "inproceedings,incollection" | split: ',' -%}
    {%- assign thesis = "thesis,mastersthesis,phdthesis" | split: ',' -%}
    {%- if entry.type == "article" -%}
      <em>{{entry.journal}}</em>
    {%- elsif proceedings contains entry.type -%}
      <em>{{entry.booktitle}}</em>
    {%- elsif thesis contains entry.type -%}
      <em>{{entry.school}}</em>
    {%- endif -%}
    {%- if entry.year -%}, {{entry.year}}{%- endif -%}
    {%- if entry.note %} &mdash; <span class="pub-note">{{ entry.note }}</span>{%- endif -%}
    <span class="pub-links">
      {%- if entry.abstract -%}
        <a class="abstract btn-link" role="button">[abstract]</a>
      {%- endif -%}
      {%- if entry.arxiv -%}
        <a href="http://arxiv.org/abs/{{ entry.arxiv }}">[arXiv]</a>
      {%- endif -%}
      {%- if entry.pdf -%}
        {%- if entry.pdf contains '://' -%}
          <a href="{{ entry.pdf }}">[pdf]</a>
        {%- else -%}
          <a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}">[pdf]</a>
        {%- endif -%}
      {%- endif -%}
      {%- if entry.html -%}
        <a href="{{ entry.html }}">[html]</a>
      {%- endif -%}
      {%- if entry.code -%}
        <a href="{{ entry.code }}">[code]</a>
      {%- endif -%}
      {%- if entry.poster -%}
        {%- if entry.poster contains '://' -%}
          <a href="{{ entry.poster }}">[poster]</a>
        {%- else -%}
          <a href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}">[poster]</a>
        {%- endif -%}
      {%- endif -%}
      {%- if entry.slides -%}
        {%- if entry.slides contains '://' -%}
          <a href="{{ entry.slides }}">[slides]</a>
        {%- else -%}
          <a href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}">[slides]</a>
        {%- endif -%}
      {%- endif -%}
      {%- if entry.website -%}
        <a href="{{ entry.website }}">[website]</a>
      {%- endif -%}
      {%- if entry.bibtex_show -%}
        <a class="bibtex btn-link" role="button">[bib]</a>
      {%- endif -%}
    </span>
  </div>

  {%- if entry.abstract -%}
  <div class="abstract hidden">
    <p>{{ entry.abstract }}</p>
  </div>
  {%- endif -%}

  {%- if entry.bibtex_show -%}
  <div class="bibtex hidden">
    {% highlight bibtex %}{{ entry.bibtex | hideCustomBibtex }}{% endhighlight %}
  </div>
  {%- endif -%}

</div>
